services:
  frontend:
    container_name: frontend-dev
    build:
      context: ../frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ../frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: ["pnpm", "dev", "--", "--host", "0.0.0.0", "--port", "3000"]
    depends_on:
      - backend
    networks:
      dev_network:
        ipv4_address: "192.168.155.101"

  backend:
    container_name: backend-dev
    build:
      context: ../backend
      dockerfile: Dockerfile.dev
    volumes:
      - ../backend:/app
    environment:
      - FLASK_APP=main.py
      - FLASK_ENV=development
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=data
    command: ["flask", "--app", "main", "run", "--host=0.0.0.0", "--debug"]
    depends_on:
      db:
        condition: service_healthy
    networks:
      dev_network:

  db:
    container_name: db-dev
    image: mariadb:latest
    restart: always
    environment:
      - MARIADB_ROOT_PASSWORD=root
      - MARIADB_DATABASE=data
    ports:
      # for debugging in dbeaver
      - "3306:3306"
    networks:
      dev_network:
    healthcheck:
      test:
        [
          "CMD",
          "healthcheck.sh",
          "--su-mysql",
          "--connect",
          "--innodb_initialized",
        ]
      start_period: 1m
      start_interval: 1s
      interval: 1m
      timeout: 5s
      retries: 3

  nginx:
    container_name: nginx-dev
    build:
      context: ../nginx
      dockerfile: Dockerfile.dev
    ports:
      - "8080:80"
    depends_on:
      - frontend
      - backend
    networks:
      dev_network:

networks:
  dev_network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.155.0/24
